body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}

button[type=submit]:hover {
	background-color: #45a049;
}
.exchange-container {
  margin-top: 30px;
  margin-left: 150px;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

input[type="number"],
select {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  margin-top: 20px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0077cc;
}
button[class="buy"] {
  margin-top: 20px;
  background-color: #18db63;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[class="buy"]:hover {
  background-color: #0077cc;
}

button[class="sell"] {
  margin-top: 20px;
  background-color: #fd0202;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[class="sell"]:hover {
  background-color: #0077cc;
}
.balances-container {
  float: left;
  margin-right: 50px;
}

table {
  border-collapse: collapse;
  margin-left: 30px;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}
h2 {
  margin-left: 70px;
  padding: 10px;
}
.courses-table {
  float: right;
  border-collapse: collapse;
  width: 30%;
  margin-right: 60px;
  
  
}
.balances-container, .exchange-container, .courses-table {
  display: inline-block;
  vertical-align: top;
}
h3 {
 text-align: center;
 padding: 10px;
 margin-left: 65px;
 font-size: 1.5em;
}
.savebutton {
  margin-left: 80px;
  margin-top: 20px;
  background-color: #0099ff;
  color: #fff;
  float: right;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #cc0000;
}

.selltransactions-table {
  float: left;
  margin-left: auto;
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  
}

#selltransactions-table th,
#selltransactions-table td {
  padding: 8px;
  border: 1px solid #0066ffab;
}

#selltransactions-table th {
  background-color: #000000a1;
}

#selltransactions-table tr:nth-child(even) {
  background-color: #ffffff;
}

#selltransactions-table tr:hover {
  background-color: #167c2f00;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #28292d;
}

.logo {
  color: #c300ff;
  font-weight: 500;
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 1.2em;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #c300ff;
}

.cashier-number {
  color: #8f8f8f;
  font-size: 1.5em;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.proceed-button,
.cancel-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.proceed-button:hover,
.cancel-button:hover {
  background-color: #0056b3;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #aeaeae;
}

p {
  margin: 10px 0;
}

span {
  font-weight: bold;
}
.buy-transaction {
  background-color: rgba(0, 255, 0, 0.4) !important;
}

.sell-transaction {
  background-color: rgba(255, 0, 0, 0.7) !important;
}