<!DOCTYPE html>
<html>
    <head>
        <title>FinTech</title>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="header">
            <h1 class="logo">FinTech</h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="/exchange">Продаж/Купівля</a></li>
                    <li><a href="/incasation">Підкріплення</a></li>
                    <li><a href="/history">Історія</a></li>
                    <li><a href="/logout">Вихід</a></li>
                </ul>
            </nav>
            <p class="cashier-number">Каса №<span id="cashier-number">{{ cashier_number }}</span></p>
        </div>

        <div class="buttons">
            <input type="text" id="select-date1" placeholder="З дати">
            <input type="text" id="select-date2"placeholder="До дати">
            <button id="get-data">Отримати дані</button>
            <button id="get-data-excel">Отримати дані в Excel</button>
        </div>

        <div class="table">
            <h2>Історія Купівлі/Продажу</h2>
            <table id="history">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Номер каси</th>
                    <th>Валюта</th>
                    <th>Сума</th>
                    <th>Сума грн</th>
                    <th>Курс</th>
                    <th>Тип операції</th>
                    <th>Дії</th>
                </tr>
                </thead>
                <tbody>
                    {% for transaction in sell_transactions %}
                    <tr {% if transaction.operation_type == 'Купівля' %}style="background-color: rgba(0, 255, 0, 0.4);"{% elif transaction.operation_type == 'Продаж' %}style="background-color: rgba(255, 0, 0, 0.7);"{% endif %}>
                        <td>{{ transaction.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ transaction.cass_id }}</td>
                        <td>{{ transaction.currency }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.total_amount }}</td>
                        <td>{{ transaction.rate }}</td>
                        <td>{{ transaction.operation_type }}</td>
                        <td><a href="{{ url_for('print_transaction', transaction_id=transaction.id) }}" class="print-button">Друк</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="{{ url_for('static', filename='history.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="static/css/history.css">
    </body>
</html>