<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="static/css/adm-panel.css">
      <link rel="stylesheet" type="text/css" href="static/css/users-adm.css">
      <title>Admin</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light gradientfin-bg">
        <div class="container-fluid" id="navtext">
            <a class="navbar-brand fontweight fw-bold" href="/adm-panel" style="color: #fff;">Фінанси</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active fontweight fw-bold" aria-current="page" href="/graf" style="color: #fff;">Графіки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fontweight fw-bold" href="/users" style="color: #fff;">Користувачі</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fontweight fw-bold" href="/allinfo" style="color: #fff;">Історія</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="tab">
        <table class="table mt-5" style="max-width: 95%;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Користувач\Каса</th>
                <th scope="col">№ Каси</th>
                <th scope="col">Логін</th>
                <th scope="col">Пароль</th>
                <th scope="col">Дії</th>
              </tr>
            </thead>
                <tbody>
                    {% for user in data_user %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ user.permissions }}</td>
                            <td>{{ user.cass_id }}</td>
                            <td>{{ user.login }}</td>
                            <td>{{ user.password }}</td>
                            <td><a href="#" class="change-button">Редагувати</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>  
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
